<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <title>Organization Finder</title>
</head>

<body>
    <div class="container">
        <br>
        <h1>Organization Finder</h1>
        <br>
        <form>
            <div class="input-field">
                <input type="text" id="zip-field" placeholder="Enter your zip code">
                <button type="submit" id="submitBtn">API Button</button>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
    $("#submitBtn").on("click", function (event) {
        event.preventDefault();
        var userZip = $("#zip-field").val();
        var userQuery = {
            zipcode: userZip
        }
        if (userZip.length < 5 || userZip.length > 5) {
            alert("Please enter a valid zip code");
        } else {
            $.post("/organizations", userQuery)
                .then(function (data) {
                    console.log(data);
                });
        };
    })
</script>

</html>