#tinderslide ul {
    margin: auto;
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
}

#tinderslide li {
    border-radius: 8px;
    background: purple;
    color:white;
    padding: 1em;
}

/* Like & dislike badge images */
#tinderslide .like,
#tinderslide .dislike {
    color:white;
}

.actions a {
   /* background: purple;
   color: white; */
   transition: 0.3s;
}

.actions a:hover{
    /* background: plum;
    color: white; */
}